{% macro add_form_group(field, icon_name=None) %}
    <div class="form-group">
        <label for="{{ field.name }}" class="form-label">
            {{ field.label }}</label>
        {% if icon_name is not none %}
            <div class="has-icon-left">
                {{ field(class_="form-input")|safe }}
                <i class="form-icon icon {{ icon_name }}"></i>
            </div>
        {% else %}
            {{ field(class_="form-input")|safe }}
        {% endif %}
    </div>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/spectre.min.css">
    <link rel="stylesheet" href="/static/spectre-icons.min.css">
    <link rel="stylesheet" href="/static/spectre-exp.min.css">
    <meta charset="UTF-8">
    <title>Kerasuite</title>
    <script src="/static/Chart.min.js"></script>
    <script src="/static/helpers.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container centered">
    {% include 'navbar.html' %}
    {% block Body %}
    {% endblock %}
</div>
</body>
</html>