{% extends 'base.html' %}
{% block Body %}
    <div class="columns">
        <div class="column col-md-12 col-6 col-mx-auto">
            <h1 class="text-center">Change password</h1>
            <div class="form-group">
                <form method="post" action="/change/password" enctype="multipart/form-data">
                    {{ add_form_group(Form.old_password) }}
                    {{ add_form_group(Form.new_password) }}
                    {{ add_form_group(Form.new_password_validate) }}
                    <input type="submit" class="btn btn-success btn-lg tooltip tooltip-bottom" data-tooltip="Let's go!"
                           value="Secure my account">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
