{% extends 'base.html' %}
{% block Body %}
    <div class="columns">
        <div class="column col-md-12 col-6 col-mx-auto">
            <h1 class="text-center">Change password</h1>
            <div class="form-group">
                <form method="post" action="/change/password" enctype="multipart/form-data">
                    <div>
                        <p>How about you change that password to something less obvious?</p>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="password">Old password</label>
                        <input type="password" name="old_password" class="form-input" id="password" placeholder="P@$$w0rd"
                               autofocus required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="new-password">New password</label>
                        <input type="password" name="new_password" class="form-input" id="new-password"
                               pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                               placeholder="MyN3wGr34tP@$$w0rd"
                               required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="new-password-repeat">Repeat new password</label>
                        <input type="password" name="new_password_repeat" class="form-input" id="new-password-repeat"
                               pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                               placeholder="MyN3wGr34tP@$$w0rd"
                               required>
                    </div>
                    <button class="btn btn-success btn-lg tooltip tooltip-bottom" data-tooltip="Let's go!">
                        Secure my account
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
