{% extends 'navbar.html' %}
{% block Body %}
    <h1 class="text-center">Your projects</h1>
    <div class="columns">
        {% if Projects %}
            {% for project in Projects %}
                <div class="column col-lg-12 col-3" style="margin-bottom: 1rem">
                    <div class="card">
                        <div class="card-header bg-dark">
                            <div class="card-title text-center">
                                <h2>{{ project.name }}</h2>
                            </div>
                        </div>
                        <div class="card-body">
                            <p><span class="text-bold">Project description: </span>{{ project.description }}</p>
                            <button class="btn btn-success">Launch</button>
                            <button class="btn btn-error text-right tooltip tooltip-bottom"
                                    data-tooltip="Delete this project"><i class="icon icon-delete"></i></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

    </div>
{% endblock %}