<div class="modal" id="modal-id">
    <a href="#close" class="modal-overlay" id="modalCloseArea" aria-label="Close"></a>
    <div class="modal-container">
        <form action="/edit/project" method="post" enctype="multipart/form-data">
            <div class="modal-header">
                <a href="#close" class="btn btn-clear float-right" id="modalCloseBtn" aria-label="Close"></a>
                <div class="modal-title h5">Edit project</div>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="form-group">
                        <label class="form-label" for="projectname">Name</label>
                        <input type="hidden" name="old_projectname" value="{{ Projectname }}">
                        <input type="text" name="projectname" class="form-input" id="projectname"
                               placeholder="The amazing Hello, World!" value="{{ Projectname }}" autofocus required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="projectdescription">Description <i>(optional)</i></label>
                        <textarea class="form-input" name="projectdescription" id="projectdescription"
                                  rows="3">{{ Projectdescription }}</textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Update project!" class="btn btn-success">
            </div>
        </form>
    </div>

</div>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        let button = document.getElementById('modalBtn'),
            modal = document.getElementById('modal-id'),
            modalCloseBtn = document.getElementById('modalCloseBtn'),
            modalCloseArea = document.getElementById('modalCloseArea');

        button.onclick = function () {
            modal.classList.add('active');
        };

        modalCloseBtn.onclick = function () {
            modal.classList.remove('active');
        };

        modalCloseArea.onclick = function () {
            modal.classList.remove('active');
        };
    })
</script>