{% extends 'base.html' %}
{% block Body %}
    <h1>Project: {{ Projectname }}
        <button class="btn btn-secondary btn-action btn-md tooltip tooltip-bottom"
                data-tooltip="Edit project"
                id="modalBtn"><i class="icon icon-edit"></i></button>
    </h1>
    <div class="accordion m-2">
        <input id="accordion-1" type="radio" name="accordion-radio" hidden="">
        <label class="accordion-header c-hand" for="accordion-1">
            <h3>
                <i class="icon icon-arrow-right mr-1"></i>1 Data uploading
            </h3>
        </label>
        <div class="accordion-body">
            <ul class="menu menu-nav">
                <li class="menu-item">
                    <div class="columns">
                        <div class="column col-md-12 col-6">
                            {% if not HasDataset %}
                                <form action="/set/project/dataset" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <input type="hidden" name="projectname" value="{{ Projectname }}">
                                        <label class="form-label" for="dataset">Load a dataset</label>
                                        <input type="file" class="form-input" id="dataset" name="dataset"
                                               accept=".csv,.json"
                                               value="" required>
                                    </div>
                                    <button class="tooltip tooltip-right btn btn-success"
                                            data-tooltip="Upload dataset!"><i class="icon icon-upload"></i> Upload
                                        dataset
                                    </button>
                                </form>
                            {% else %}
                                <p>There is a dataset submitted for this project.</p>
                                <a href="/clear/dataset?project={{ Projectname }}"
                                   onclick="return confirm('Are you sure to delete this dataset? It will be deleted from disk!')"
                                   class="btn btn-error tooltip tooltip-right"
                                   data-tooltip="Delete the current dataset">
                                    <i class="icon icon-delete"></i> Delete dataset
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="accordion m-2">
        <input id="accordion-3" type="radio" name="accordion-radio" hidden="">
        <label class="accordion-header c-hand" for="accordion-3">
            <h3>
                <i class="icon icon-arrow-right mr-1"></i>2 Dataset inspection & preprocessing
            </h3>
        </label>
        <div class="accordion-body">
            <ul class="menu menu-nav">
                <li class="menu-item">
                    {% if Dataset is none %}
                        <p>You need to upload a dataset before you can inspect data.</p>
                    {% else %}
                        <div class="columns">
                            <div class="column col-12">
                                <div class="m-2">
                                    <div class="accordion m-2">
                                        <input id="preprocessing-table" type="radio" name="accordion-preprocessing"
                                               hidden="">
                                        <label class="accordion-header c-hand" for="preprocessing-table">
                                            <h4>
                                                <i class="icon icon-arrow-right mr-1"></i>Dataset inspection
                                            </h4>
                                        </label>
                                        <div class="accordion-body">
                                            <p>Below are some samples from the dataset that was uploaded.</p>
                                            {{ Dataset | safe }}
                                        </div>
                                    </div>

                                </div>
                                {% block Preprocessing %}
                                    {% include 'project_preprocessing.html' %}
                                {% endblock %}
                            </div>
                        </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    <div class="accordion m-2">
        <input id="accordion-2" type="radio" name="accordion-radio" hidden="">
        <label class="accordion-header c-hand" for="accordion-2">
            <h3>
                <i class="icon icon-arrow-right mr-1"></i>3 Model building
            </h3>
        </label>
        <div class="accordion-body">
            <ul class="menu menu-nav">
                <li class="menu-item">
                    {% if HasDataset %}
                        {% include 'project_modelbuilding.html' %}
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    <div class="accordion m-2">
        <input id="accordion-evaluation" type="radio" name="accordion-radio" hidden="">
        <label class="accordion-header c-hand" for="accordion-evaluation">
            <h3>
                <i class="icon icon-arrow-right mr-1"></i>4 Model evaluation
            </h3>
        </label>
        <div class="accordion-body">
            <ul class="menu menu-nav">
                <li class="menu-item">
                    {% if HasDataset %}
                        {% include 'project_modelevaluation.html' %}
                    {% else %}
                        <p>Please upload a dataset before proceeding.</p>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    {% include 'modal_editproject.html' %}
    {% include 'modal_project_layer_params.html' %}
{% endblock %}