{% extends 'base.html' %}
{% block Body %}
    <h1>Project: {{ Projectname }}
        <button class="btn btn-secondary btn-action btn-md tooltip tooltip-bottom"
                data-tooltip="Edit project"
                id="modalBtn"><i class="icon icon-edit"></i></button>
    </h1>
    <div class="accordion">
        <input id="accordion-1" type="radio" name="accordion-radio" hidden="" checked="">
        <label class="accordion-header c-hand" for="accordion-1">
            <h3>
                <i class="icon icon-arrow-right mr-1"></i>1 Data uploading
            </h3>
        </label>
        <div class="accordion-body">
            <ul class="menu menu-nav">
                <li class="menu-item">
                    <div class="columns">
                        <div class="column col-md-12 col-6">
                            {% if not HasDataset %}
                                <form action="/set/project/dataset" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <input type="hidden" name="projectname" value="{{ Projectname }}">
                                        <label class="form-label" for="dataset">Load a dataset</label>
                                        <input type="file" class="form-input" id="dataset" name="dataset"
                                               accept=".csv,.json"
                                               value="" required>
                                    </div>
                                    <button class="tooltip tooltip-right btn btn-success"
                                            data-tooltip="Upload dataset!">Submit
                                    </button>
                                </form>
                            {% else %}
                                <p>There is a dataset submitted for this project.</p>
                                <a href="/clear/dataset?project={{ Projectname }}"
                                   onclick="return confirm('Are you sure to delete this dataset? It will be deleted from disk!')"
                                   class="btn btn-error tooltip tooltip-right"
                                   data-tooltip="Delete the current dataset">
                                    <i class="icon icon-delete"></i> Delete dataset
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="accordion">
        <input id="accordion-2" type="radio" name="accordion-radio" hidden="">
        <label class="accordion-header c-hand" for="accordion-2">
            <h3>
                <i class="icon icon-arrow-right mr-1"></i>2 Dataset inspection
            </h3>
        </label>
        <div class="accordion-body">
            <ul class="menu menu-nav">
                <li class="menu-item">
                    <h4>List some samples</h4>
                    {% if Dataset is none %}
                        <p>You need to upload a dataset before you can inspect data.</p>
                    {% else %}
                        <div class="columns">
                            <div class="column col-12">
                                <p>Below are some samples from the dataset that was uploaded.</p>
                                {{ Dataset | safe }}
                            </div>
                        </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>

    <div class="accordion">
        <input id="accordion-3" type="radio" name="accordion-radio" hidden="">
        <label class="accordion-header c-hand" for="accordion-3">
            <h3>
                <i class="icon icon-arrow-right mr-1"></i>3 Preprocessing
            </h3>
        </label>
        <div class="accordion-body">
            <ul class="menu menu-nav">
                <li class="menu-item">
                    <div class="columns">
                        <div class="column col-12">
                            <h4>Train- & testset splitting</h4>
                            <form action="/set/project/dataset/split" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label class="form-label" for="train-test-range">How much data should be in the
                                        trainingset?</label>
                                    <input id="train-test-range" class="slider tooltip mt-1" type="range" min="50"
                                           max="90"
                                           value="70%"
                                           step="1"
                                           oninput="this.setAttribute('value', `${this.value}%`);"
                                           name="train-test-split">
                                    <input type="hidden" value="{{ Projectname }}" name="project">
                                    <input type="submit" class="btn btn-success" value="Set size">
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="accordion">
        <input id="accordion-4" type="radio" name="accordion-radio" hidden="">
        <label class="accordion-header c-hand text-large" for="accordion-4">
            <h3>
                <i class="icon icon-arrow-right mr-1"></i>4 Model generation
            </h3>
        </label>
        <div class="accordion-body">
            <ul class="menu menu-nav">
                <li class="menu-item">
                    <div class="columns">
                        <div class="column col-12">
                            <p>Time to create a Neural Network.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    {% include 'modal_editproject.html' %}
{% endblock %}