<div class="accordion m-2">
    <input id="preprocessing-graph" type="radio" name="accordion-preprocessing" hidden="">
    <label class="accordion-header c-hand" for="preprocessing-graph">
        <h4>
            <i class="icon icon-arrow-right mr-1"></i>Data balance graph
        </h4>
    </label>
    <div class="accordion-body">
        <div class="column col-md-12 col-10">
            {% if DataBalance %}
                <div class="form-group">
                    <label class="form-label" for="column_select">Select a column to visualize</label>
                    <select class="form-select" id="columns_select">
                        {% for Column in DataBalance %}
                            <option value="{{ Column }}">{{ Column }}</option>
                        {% endfor %}
                    </select>
                </div>

                <canvas
                        id="data-balance-graph"
                        style="display: block; width: 618px; height: 309px;"
                        width="618"
                        height="309"
                        class="chartjs-render-monitor">
                </canvas>
                <script>
                    {
                        let columnData = {{ DataBalance | tojson }};
                        let column = Object.keys(columnData)[0];
                        let chartContext = document.getElementById('data-balance-graph').getContext('2d');

                        const SetGraph = () => {
                            if (column in columnData) {
                                if (window.barChart != null) {
                                    window.barChart.destroy();
                                }
                                document.getElementById('columns_select').value = column;
                                window.barChart = new Chart(chartContext, {
                                    "type": "bar",
                                    "data": {
                                        "labels": Object.keys(columnData[column]),
                                        "datasets": [{
                                            "label": `Unique values for column ${column}`,
                                            "data": Object.values(columnData[column]),
                                            "borderWidth": 1,
                                            "backgroundColor": GetRandomColors(Object.values(columnData[column]).length)
                                        }]
                                    },
                                    "options": {"scales": {"yAxes": [{"ticks": {"beginAtZero": true}}]}}
                                });
                            }
                        };

                        const GetColumnName = () => {
                            column = document.getElementById('columns_select').value;
                        }

                        window.onload = function () {
                            SetGraph();
                            document.getElementById('columns_select').addEventListener("change", function () {
                                GetColumnName();
                                SetGraph();
                            })
                        };
                    }
                </script>
            {% endif %}
        </div>
    </div>
</div>