<div class="columns">
    <div class="column col-lg-12 col-6">
        <h4>Model overview</h4>
        {% if ProjectModel is none or ProjectModel.layers|length < 1 %}
            <p>No model has been created yet, please create a model first.</p>
        {% else %}
            <ol>
                {% for Layer in ProjectModel.layers | sort(attribute='order') %}
                    <li>{{ Layer['layerType'] }} (<a
                            href="/remove/layer?project={{ Projectname }}&layer={{ Layer['layerId'] }}">Remove
                        layer</a>)
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
        <h4>Add new layer</h4>
        <form action="/create/layer" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="form-label" for="model-layer">Layer type</label>
                <select class="form-select" name="new-layer" id="model-layer">
                    {% for LayerType in ModelLayers | sort %}
                        <optgroup label="{{ LayerType }}">
                            {% for Layer in ModelLayers[LayerType] | sort %}
                                <option value="{{ Layer }}">{{ Layer }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </div>
            <input type="hidden" name="project" value="{{ Projectname }}">
            <input type="submit" class="btn btn-success" value="Add new layer">
        </form>
    </div>
</div>