<div class="column col-md-12 col-6">
    {% include 'project_inspection.html' %}

    <div class="accordion m-2">
        <input id="preprocessing-drop" type="radio" name="accordion-preprocessing" hidden="">
        <label class="accordion-header c-hand" for="preprocessing-drop">
            <h4>
                <i class="icon icon-arrow-right mr-1"></i>Drop column
            </h4>
        </label>
        <div class="accordion-body">
            <form action="/drop/column" method="post" enctype="multipart/form-data">
                {{ add_form_group(DropForm.project, hidden=True, value=Projectname) }}
                {{ add_form_group(DropForm.column) }}
                <button class="btn btn-success btn-lg">
                    <i class="icon icon-delete icon-resize-small"></i> Drop column
                </button>
            </form>
        </div>
    </div>

    <div class="accordion m-2">
        <input id="preprocessing-rename" type="radio" name="accordion-preprocessing" hidden="">
        <label class="accordion-header c-hand" for="preprocessing-rename">
            <h4>
                <i class="icon icon-arrow-right mr-1"></i>Rename column
            </h4>
        </label>
        <div class="accordion-body">
            <form action="/set/column/name" method="post" enctype="multipart/form-data">
                {{ add_form_group(RenameForm.project, hidden=True, value=Projectname) }}
                {{ add_form_group(RenameForm.old_col_name) }}
                {{ add_form_group(RenameForm.new_col_name) }}
                <button class="btn btn-success btn-lg">
                    <i class="icon icon-edit"></i> Rename column
                </button>
            </form>
        </div>
    </div>

    <div class="accordion m-2">
        <input id="preprocessing-replace" type="radio" name="accordion-preprocessing" hidden="">
        <label class="accordion-header c-hand" for="preprocessing-replace">
            <h4>
                <i class="icon icon-arrow-right mr-1"></i>Replace values
            </h4>
        </label>
        <div class="accordion-body">
            <form action="/replace/dataset/values" method="post" enctype="multipart/form-data">
                {{ add_form_group(ReplaceForm.project, hidden=True, value=Projectname) }}
                {{ add_form_group(ReplaceForm.column) }}
                {{ add_form_group(ReplaceForm.value_old) }}
                {{ add_form_group(ReplaceForm.value_new) }}
                <button class="btn btn-success btn-lg">
                    <i class="icon icon-edit"></i> Replace values
                </button>
            </form>
        </div>
    </div>

    <div class="accordion m-2">
        <input id="preprocessing-normalisation" type="radio" name="accordion-preprocessing" hidden="">
        <label class="accordion-header c-hand" for="preprocessing-normalisation">
            <h4>
                <i class="icon icon-arrow-right mr-1"></i>Data normalisation
            </h4>
        </label>
        <div class="accordion-body">
            <form action="/normalize/columns" method="post"
                  enctype="multipart/form-data">
                {{ add_form_group(NormalizationForm.project, hidden=True, value=Projectname) }}
                {{ add_form_group(NormalizationForm.columns) }}
                <div class="form-group">
                    <label class="form-label" for="method">Normalise data with method</label>
                    <select class="form-select" name="method" id="method" required>
                        {% if Normalizers %}
                            {% for NormType in Normalizers|sort %}
                                <optgroup label="{{ NormType }}">
                                    {% for Normalizer in Normalizers[NormType]|sort %}
                                        <option value="{{ Normalizer }}">{{ Normalizer }}</option>
                                    {% endfor %}
                                </optgroup>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <input type="submit" class="btn btn-success" value="Normalise data">
            </form>
        </div>
    </div>

    <div class="accordion m-2">
        <input id="preprocessing-split" type="radio" name="accordion-preprocessing" hidden="">
        <label class="accordion-header c-hand" for="preprocessing-split">
            <h4>
                <i class="icon icon-arrow-right mr-1"></i>Data splitting &amp; output selection
            </h4>
        </label>
        <div class="accordion-body">
            <form action="/set/project/dataset/split" method="post"
                  enctype="multipart/form-data">
                {{ add_form_group(PreprocessingForm.project, hidden=True, value=Projectname) }}
                {{ add_form_group(PreprocessingForm.train_test_split, value=TrainTestSplit) }}
                {{ add_form_group(PreprocessingForm.random_state, value=RandomState) }}
                {{ add_form_group(PreprocessingForm.column_output) }}
                <input type="submit" class="btn btn-success" value="Set split size">
            </form>
        </div>
    </div>
</div>