{% extends 'base.html' %}
{% block Body %}
    <h1 class="text-center">Settings</h1>
    {% if IsAdmin %}
        <div class="accordion">
            <input id="accordion-1" type="radio" name="accordion-radio" hidden="" checked="">
            <label class="accordion-header c-hand text-large" for="accordion-1"><i
                    class="icon icon-arrow-right mr-1"></i>Manage existing users</label>
            <div class="accordion-body">
                <ul class="menu menu-nav">
                    <li class="menu-item">
                        {% if UserList %}
                            <table class="table table-striped table-hover table-scroll">
                                <thead class="bg-primary">
                                <tr class="text-center">
                                    <th>Username</th>
                                    <th>Elevated rights</th>
                                    <th>Remove user</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in UserList %}
                                    <tr class="text-center">
                                        <td>{{ user }}{% if user == Username %} <i>(you)</i>{% endif %}</td>
                                        <td>
                                            <div class="form-group text-center">
                                                {% if user == Username or user == 'admin' %}
                                                    <label class="form-checkbox form-inline tooltip tooltip-bottom"
                                                           data-tooltip="Well, who else would do this job?">
                                                        <input type="checkbox" checked="" disabled><i
                                                            class="form-icon"></i>
                                                    </label>
                                                {% else %}

                                                    <label class="form-checkbox form-inline">
                                                        <a href="/op/user?user={{ user }}"
                                                           onclick="return confirm('Are you sure to modify the role of {{ user }}?')">
                                                            <input type="checkbox"
                                                                   {% if UserList[user].admin %}checked=""{% endif %}>
                                                            <i class="form-icon"></i></a>
                                                    </label>

                                                {% endif %}
                                            </div>
                                        </td>
                                        <td>
                                            {% if user != Username %}
                                                <a class="btn btn-error btn-action tooltip"
                                                   data-tooltip="Delete user {{ user }}"
                                                   onclick="return confirm('Are you sure that you want to delete {{ user }}? This action can\'t be undone!')"
                                                   href="/remove/user?username={{ user }}"
                                                   id="modalBtn"><i class="icon icon-delete"></i>
                                                </a>
                                            {% else %}
                                                You can't delete yourself, can you?
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="accordion">
            <input id="accordion-2" type="radio" name="accordion-radio" hidden="">
            <label class="accordion-header c-hand text-large" for="accordion-2"><i
                    class="icon icon-arrow-right mr-1"></i>Create new users</label>
            <div class="accordion-body">
                <ul class="menu menu-nav">
                    <form action="/create/user" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="form-label" for="username">Username</label>
                            <input type="text" name="username" class="form-input" id="username"
                                   placeholder="TheLegend27" required>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="password">Password</label>
                            <input type="password" name="password" class="form-input"
                                   id="password" placeholder="Sup3erS3cr3tP@ssw0rd"
                                   pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="password_repeat">Repeat password</label>
                            <input type="password" name="password_repeat" class="form-input" id="password_repeat"
                                   placeholder="Sup3erS3cr3tP@ssw0rd"
                                   pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required>
                        </div>
                        <button class="btn btn-success tooltip tooltip" data-tooltip="Create user">
                            <i class="icon icon-people"></i> Create
                        </button>
                    </form>
                </ul>
            </div>
        </div>
    {% else %}
        <p><b>You need elevated rights to access this tab!</b></p>
    {% endif %}
{% endblock %}